nav.bt-nav {
    /*    background-color: #3A5743;*/
    background-color: #457254;
    padding: 0;
}

nav a.bt-nav-font {
    color: #E9FFDD;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

nav a.bt-nav-font-sides {
    color: #FEEDF7;
    font-size: 1.5rem;
    padding-right: 7px;
    padding-left: 7px;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

nav a.bt-nav-pic-sides {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}

body.home-body {
    /*    background-color: #E9FFDD;*/
    /*    background-color: #3A5743;*/
    /*    background-color: #FEFBFC;*/
    background-color: #F9F9F9;
    background-image: url(assets/white-paper2.jpg);
    background-repeat: repeat;
    padding-top: 40px;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 300;
    /*    color: #3A5743;*/
    color: #565656;
    /*    color: #25382B;*/
}

div.main-col {
    text-align: center;
    padding: 0;
}

h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

img.pic {
    width: 100%;
    max-width: 600px;
}

img.pic-hr {
    width: 80%;
    max-width: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img.pic-leaf {
    width: 1.7rem;
    padding-top: 4px;
}

h3.top-pad {
    padding-top: 30px;
}

h4.bottom-pad {
    padding-top: 10px;
    padding-bottom: 50px;
}
